@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

@font-face {
  font-family: "IRANSans Regular";
  src: url("@assets/fonts/IRANSansXRegular.ttf") format("TrueType");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans SemiBold";
  src: url("@assets/fonts/IRANSansXMedium.ttf") format("TrueType");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans Bold";
  src: url("@assets/fonts/IRANSansXBold.ttf") format("TrueType");
  font-weight: 700;
}

@font-face {
  font-family: "Vazir Number";
  src: url("@assets/fonts/Vazirmatn-FD-SemiBold.ttf") format("TrueType");
}
