@font-face {
  font-family: "IRANSans Regular";
  src: url("@assets/fonts/IRANSansXRegular.ttf") format("TrueType");
  font-weight: 400;
}

@font-face {
  font-family: "IRANSans SemiBold";
  src: url("@assets/fonts/IRANSansXMedium.ttf") format("TrueType");
  font-weight: 500;
}
