@forward "./reset";
@forward "./fonts";
@forward "./variables";
@forward "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  direction: rtl;
}

body {
  height: 100vh;
  background: #1e1e1e;
  // @include elementLayout();
}
