@use "@scss/mixins";
@use "@scss/variables";

.searchBar {
  width: 381px;
  height: 55px;
  position: relative;
  margin: 1rem 0;
  @include mixins.elementLayout();

  &__searchIcon {
    font-size: 1.5rem;
    color: variables.$primary-color;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(50%);
  }

  &__searchInput {
    flex: 1;
    height: 100%;
    padding: 0 52.29px 0 1rem;
    border: 1px solid #0f32601c;
    border-radius: 100px;
    box-shadow: 0px 1px 10px 0px #0f326033;
    @include mixins.typography(16, 500);

    &::placeholder {
      color: variables.$primary-color;
      @include mixins.typography(16, 500);
    }
  }
}
