@use "@scss/mixins";
@use "@scss/variables";

.navigationBar {
  width: 100%;
  height: 88px;
  background: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu {
  width: 100%;
  height: 80px;
  background: aqua;
  @include mixins.elementLayout(row, center, center, 8);

  &__menuItems {
    width: 70px;
    height: 75px;
    background: purple;
    @include mixins.elementLayout(column, center, center, 12);
  }

  &__linkItems {
    // background: yellow;
    color: variables.$secondary-color;
    @include mixins.typography(12, 400);
    @include mixins.elementLayout(row, center, center, 8);
  }

  &__menuIcons {
    color: variables.$secondary-color;
    font-size: 1.5rem;
  }
}
