@import "./assets/scss/mixins";

.container {
  width: 428px;
  height: 650px;
  padding-top: 3px;
  background-color: #fefefe;
  border-radius: 25px;
  border: 1px solid #b4b4b4;
  position: relative;
  overflow: hidden;
  @include typography(100, 400);
  @include elementLayout(column, flex-start, center, 0);
}
